@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

body {
    font-family: "IBM Plex Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

:root {
    --primary: #1a253f;
    --dark: #151a33;
    --secondary: #2b55cc;
    --info: #4d79f6;
    --ternary: #848db3;
    --pure: #eff2f9;
    --fade: #7081b9;
    --mild: #8997bd;
    --footer: #212a4a;
    --black: #060b1b;
    --twitter: #4ac7ec;
    --dribbble: #ff5da0;
    --success: #1ecab8;
    --danger: #f1646c;
    --dark-blue: #28365f;
    --dark-gray: #171f33;
    --yellow: #f3c74d;
}

.section_heading {
    font-size: 16px;
    font-weight: 500;
    color: var(--pure);
    text-shadow: 0 0 1px rgba(40, 54, 95, 0.1);
    display: inline-block;
    position: relative;
}
.section_heading::after {
    content: "";
    height: 3px;
    width: 0;
    position: absolute;
    top: 115%;
    left: 0;
    background: linear-gradient(to right, var(--secondary), var(--success));
    animation: section-heading 5s infinite linear;
}

@keyframes section-heading {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
